/*
Customize default viewer
*/

.sitn-title {
    visibility: hidden;
    font-family: arial;
}

.sitn-title a {
    color: lightgray;
}


.pv-menu-list {
    font-family: arial !important;
}

#potree_branding {
    display: none !important;
}

#potree_languages {
    margin-top: 3px;
    margin-bottom: 3px;
}

.scene_content {
    visibility: visible;
}

.annotation-label {

}

.scene_header_title {
    background-image: url('../images/gear.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

.ui-autocomplete-loading {
background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}

#gmf_search_input {
    width: 350px;
    height:  30px;
    position: absolute;
    right: 3%;
    top: 10px;
    background-color: white;
    z-index: 10;
    border: 2px solid;
    border-radius: 5px;
    border-color: lightgray;
    opacity: 0.8;
}

#gmf_search_input input {
    color: #01193f !important;
    width: 350px;
    height: 24px;
    text-align: center;
    border: none;
    outline:none;
}

.sitn-autocomplete {
    color: #01193f !important;
    width: 350px;
    font-size: 12px;
    opacity: 0.8;
    top: 48px !important;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

@media only screen and (max-width: 500px) {
    #gmf_search_input {
        width: 250px;
        height:  25px;
    }

    #gmf_search_input input {
        width: 210px;
        height: 19px;
    }
    
    .sitn-autocomplete {
        font-size: 10px;
        width: 250px;
        opacity: 0.8;
        top: 43px !important;
    }
}