/*
Customize default viewer
*/

.sitn-title {
    font-family: arial;
}

.sitn-title a {
    color: lightgray;
}


.pv-menu-list {
    font-family: arial !important;
}

#potree_branding {
    display: none !important;
}

#potree_languages {
    margin-top: 3px;
    margin-bottom: 3px;
}

.scene_content {
    visibility: visible;
}

.annotation-label {

}

.scene_header_title {
    background-image: url('../images/gear.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}
