/*
Customize default viewer
*/

.sitn-title {
    font-family: arial;
}

.sitn-title a {
    color: lightgray;
}


.pv-menu-list {
    font-family: arial !important;
}

#potree_branding {
    display: none !important;
}

#potree_languages {
    margin-top: 3px;
    margin-bottom: 3px;
}

.scene_content {
    visibility: visible;
}

.annotation-label {

}

.scene_header_title {
    background-image: url('../images/gear.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

.ui-autocomplete-loading {
background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}

#gmf_search_input {
    width: 400px;
    height: 35px;
    position: absolute;
    right: 150px;
    top: 10px;
    background-color: white;
    z-index: 10;
    color: white;
    border: 2px solid;
    border-radius: 5px;
    border-color: lightgray;

    
}

#gmf_search_input input {
    width: 390px;
    height: 27px;
    margin-top: 2px;
    margin-left: 2px;
    border: none;
}
